.main-wrapper {
	/*background: url('../images/bg_pattern_geo.png') repeat 0 0;*/
	background: #f0f0f0;
	padding: 70px 0;
}


main {
	margin: 0;
	width: auto;
}

.row {
	background: white;
}


.panel {
	padding: 20px 25px;
}